<a href="https://colab.research.google.com/github/anasir514/colab/blob/main/kia_soul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
def car_listing(car_prices):
    result = ""
    for keys, values in car_prices.items():
        result += "{} costs {} dollars".format(keys, values) + "\n"
    return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000,"Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars